body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

p {
    margin: 0;
}

button:active, button:focus {
    outline: none;
}

.page {
    position: relative;
    width: 960px;
    background-color: #f6f5f3;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 840px;
    margin-left: auto;
    margin-right: auto;
}

.header-page {
    margin-bottom: 70px;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 168px;
    height: 84px;
    background-color: #fff;
    margin-right: 0;
    margin-left: auto;
}

.logo-box:after {
	content: "";
	position: absolute;
	bottom: -47px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 84px solid transparent;
	border-right: 84px solid transparent;
	border-top: 47px solid #fff;
}

.logo-img {
    width: 95px;
}

.section-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-button {
    position: relative;
    width: 59px;
    height: 59px;
    border: 0px solid #000;
    border-radius: 30px;
    background-color: #ffdb4a;
    box-shadow: 2px 2px 3px #fc8d4b;
    cursor: pointer;
}

.arrow-button:hover {
    box-shadow: 3px 3px 5px #fc8d4b;
} 

.arrow-button:focus {
    box-shadow: inset 3px 3px 5px #fc8d4b,
    inset -3px -3px 5px #fc8d4b;
}

.arrow {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.content-box {
    width: 640px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.slide-content {
    font-size: 36px;
}

.slide-img {
    display: block;
    margin-top: 43px;
}

.video-player {
    position: relative;
    margin-top: 60px;
}

.video-title {
    position: absolute;
    display: block;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 9px;
    width: 640px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 29px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    z-index: 3;
}

.snapshot {
    width: 100%;
}

.play-button {
    position: absolute;
    display: block;
    width: 127px;
    height: 127px;
    border: none;
    border-radius: 64px;
    background-color: #ffdb4a;
    box-shadow: 2px 2px 3px #fc8d4b;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.play-icon {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: 46px;
    margin-top: 36px;
}

.play-button:hover {
    box-shadow: 3px 3px 5px #fc8d4b;
} 

.play-button:focus {
    box-shadow: inset 3px 3px 5px #fc8d4b,
    inset -3px -3px 5px #fc8d4b;
}

.reasson-title {
    font-size: 47px;
    text-align: center;
    margin-bottom: 45px;
    font-weight: 400;
}

.reasson-icon-section {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.reasson-box {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.box-icon {
    display: block;
    height: 75px;
}

.box-title {
    font-size: 30px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 22px;
}

.box-text {
    font-size: 16px;
    margin-bottom: 10px;
}

.try-section {
    margin-top: 72px;
    padding-bottom: 87px;
}

.try-section__title {
    font-size: 42px;
    font-weight: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.try-section__button {
    display: block;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 320px;
    height: 72px;
    background: linear-gradient(90deg, #ffe34a, #ffdb00);
    font-size: 36px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.try-section__button:hover {
    background: linear-gradient(0deg, #ffe34a, #ffdb00);
}

.try-section__button:active, .try-section__button:focus {
    box-shadow: 0px 0px 3px 1px #fc8d4b;
}